.trigger {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;

    cursor: pointer;

    font: inherit;
    font-size: var(--button-font-size);

    border: var(--button-border-width) solid var(--color-secondary);
    border-radius: var(--button-border-radius);

    padding: var(--button-top-bottom-padding) var(--button-left-right-padding);

    &:hover {
        background-color: var(--color-accent);
    }
    &:active {
        background-color: var(--color-accent);
    }

    & span {
        display: flex;
        align-items: center;
    }

    &[data-popup-open] {
        background-color: var(--color-accent);
        border-color: var(--color-secondary);

        & .chevronIcon {
            transform: rotate(180deg);
        }
    }
}

.popup {
    background-color: var(--color-primary);

    border-radius: var(--button-border-radius);
    border: var(--button-border-width) solid var(--color-secondary);

    padding: 0.5rem;
}

.item {
    cursor: pointer;

    font: inherit;
    font-size: var(--button-font-size);

    border: var(--button-border-width) solid transparent;
    border-radius: var(--button-border-radius);

    padding: var(--button-top-bottom-padding) var(--button-left-right-padding);

    &[data-highlighted] {
        background-color: var(--color-accent);
    }
}

.chevronIcon {
    height: 36px;
    width: 36px;
    transition: transform 0.15s ease-in-out;
}
