.localVariables {
    --border-radius: 1.25rem;
    --grid-row-title: 2;
    --grid-row-arrow: 11;
}

.imageCard {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-template-rows: repeat(12, minmax(0, 1fr));

    border-radius: var(--border-radius);
    overflow: hidden;
    cursor: pointer;
}

.backgroundImage {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    object-fit: cover;
}

.titleContainer {
    grid-column: 1 / 9;
    grid-row: var(--grid-row-title);
    z-index: 1;
    background-color: var(--primary-color);

    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);

    margin: -0.5rem 0;
}

.title {
    grid-column: 2 / 9;
    grid-row: var(--grid-row-title);
    z-index: 2;
    align-self: center;
}

.arrowContainer {
    border-radius: var(--border-radius);
    grid-row: var(--grid-row-arrow);
    margin: -0.25rem 0;
    z-index: 2;
}

.arrowContainerNoHover {
    grid-column: 10 / 12;

    background-color: var(--primary-color);

    align-content: center;
    justify-items: center;
}

.arrowContainerOnHover {
    display: none;
}

.imageCard:hover > .arrowContainerNoHover {
    display: none;
}

.imageCard:hover > .arrowContainerOnHover {
    grid-column: 2 / 12;
    background-color: var(--tonic);

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}


