.card {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--color-secondary);
    border-radius: 1.25rem;
    padding: 30px;
    row-gap: 1.5625rem;
}

.titleFlexContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    column-gap: 30px;
}
.titleFlexContainer > h4 {
    flex: 1;
}


.titleContainer {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 30px;
    align-items: start;
}






.filled {
    background: var(--color-primary);
    color: var(--color-secondary);
}

.ghost {
    background: transparent;
    color: var(--color-secondary);
}

.ghost:hover {
    background: var(--color-secondary);
    color: var(--color-primary);
}

/* .arrow{
    max-height: 70px;
} */