.mainContainer {
    display: grid;
    grid-template-areas:
        'logo'
        'servicesContainer';
    gap: var(--gap-section);

    & .logo {
        grid-area: logo;
    }
    & .servicesContainer {
        grid-area: servicesContainer;
    }
}
