.archivesContainer {
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-columns: auto 24px 1fr;
    grid-template-areas:
        'button intersection card'
        'title intersection card';

    max-width: 25rem;

    > .title {
        grid-area: title;
        writing-mode: sideways-lr;
        align-content: center;
    }
    > .button {
        grid-area: button-start / button-start / intersection-start / intersection-end;

        :hover {
            color: var(--color-accent);
        }
    }
    > .card {
        grid-area: intersection-start / intersection-start / card-end / card-end;
    }

    .loadIcon {
        height: 67px;
        width: auto;
        color: var(--color-primary);
    }
}

@media screen and (min-width: 80rem) {
    .archivesContainer {
        grid-template-columns: unset;
        grid-template-rows: auto auto 24px auto;
        grid-template-areas:
            'title'
            'card'
            'intersection'
            'button';

        max-width: unset;

        > .title {
            grid-area: title;
            writing-mode: unset;
            justify-self: center;
            margin-bottom: var(--gap-inside-section);
        }
        > .card {
            grid-area: card-start / card-start / intersection-end / intersection-end;
        }
        > .button {
            grid-area: intersection-start / intersection-start / button-end / button-end;
        }

        .loadIcon {
            height: 150px;
        }
    }
}
