.localVariables {
    --gap: 2rem;
}

.mainContainer {
    display: grid;
    gap: var(--gap);
    grid-auto-rows: min-content;
    grid-template-areas:
        'title itemsPerPage'
        'articleList articleList'
        'pagination pagination';

    .title {
        grid-area: title;
        justify-self: start;
        align-self: center;
        text-wrap: nowrap;
    }

    .itemsPerPage {
        grid-area: itemsPerPage;
        justify-self: end;
    }

    .articleList {
        grid-area: articleList;
    }

    .pagination {
        grid-area: pagination;
        justify-self: end;
        align-self: start;
        white-space: nowrap;
    }
}
