BACKEND_BASE_URL=https://erasme-v2-dev.projets.erasme.org

GRAPHQL_ENDPOINT=$BACKEND_BASE_URL/spip.php?action=graphql
GRAPHQL_TOKEN=ThisIsAGuidTokenFoundOnSpipBackend

SPIP_RUBRIQUE_PROJETS_ID=286
SPIP_RUBRIQUE_SERVICES_ID=346
SPIP_RUBRIQUE_CONTACT_ID=345

SPIP_ARTICLE_MENTIONS_LEGALES_ID=1638

SPIP_GROUPE_MOTS_METHODOLOGIES_DE_DEVELOPPEMENT_ID=14
SPIP_GROUPE_MOTS_USAGES_ID=17
SPIP_GROUPE_MOTS_TECHNOLOGIES_ID=16
SPIP_GROUPE_MOTS_PARTENAIRES_ID=15
SPIP_GROUPE_MOTS_UTILISATEURS_ID=18
SPIP_GROUPE_MOTS_ENTREPRISES_ID=13

SPIP_RUBRIQUE_CONTACT_ARTICLE_URBAN_LAB_ID=1822
SPIP_RUBRIQUE_CONTACT_ARTICLE_BUREAUX_ADMINISTRATIFS_ID=2138
SPIP_RUBRIQUE_CONTACT_ARTICLE_NOUS_JOINDRE_ID=2140
SPIP_RUBRIQUE_CONTACT_ARTICLE_LACLASSE_ID=2139
SPIP_RUBRIQUE_CONTACT_ARTICLE_RESEAUX_SOCIAUX_ID=1495