NEXT_PUBLIC_BACKEND_BASE_URL=https://erasme-v2-back-dev.projets.erasme.org

GRAPHQL_ENDPOINT=spip.php?action=graphql
GRAPHQL_TOKEN=ThisIsAGuidTokenFoundOnSpipBackend

SPIP_RUBRIQUE_PROJETS_ID=286
SPIP_RUBRIQUE_SERVICES_ID=347
SPIP_RUBRIQUE_CONTACT_ID=345

SPIP_ARTICLE_MENTIONS_LEGALES_ID=1638
SPIP_ARTICLE_ACCESSIBILITE_ID=2161

SPIP_GROUPE_MOTS_METHODOLOGIES_DE_DEVELOPPEMENT_ID=14
SPIP_GROUPE_MOTS_USAGES_ID=17
SPIP_GROUPE_MOTS_TECHNOLOGIES_ID=16
SPIP_GROUPE_MOTS_PARTENAIRES_ID=15
SPIP_GROUPE_MOTS_UTILISATEURS_ID=18
SPIP_GROUPE_MOTS_ENTREPRISES_ID=13
SPIP_GROUPE_MOTS_POLITIQUES_PUBLIQUES_ID=19

SPIP_RUBRIQUE_CONTACT_ARTICLE_URBAN_LAB_ID=1822
SPIP_RUBRIQUE_CONTACT_ARTICLE_BUREAUX_ADMINISTRATIFS_ID=2138
SPIP_RUBRIQUE_CONTACT_ARTICLE_NOUS_JOINDRE_ID=2140
SPIP_RUBRIQUE_CONTACT_ARTICLE_LACLASSE_ID=2139
SPIP_RUBRIQUE_CONTACT_ARTICLE_RESEAUX_SOCIAUX_ID=1495

SPIP_RUBRIQUE_URBANLAB_ID=350
SPIP_RUBRIQUE_EQUIPE_ID=311

SPIP_RUBRIQUE_PROJETS_INCUBATION_ID=326
SPIP_RUBRIQUE_PROJETS_CCN_ID=88

SPIP_RUBRIQUE_PROJETS_ARCHIVES_ID=313

SPIP_RUBRIQUE_HOMEPAGE_ARTICLE_PRESENTATION_ERASME_ID=2163
SPIP_RUBRIQUE_HOMEPAGE_ARTICLE_MISSION_ID=2162

SPIP_MOT_ACTUS_ID=348