.localVariables {
    --border-radius: 1.25rem;

    --padding-top: 30px;
    --padding-bottom: 16px;
    --padding-left: 8px;
    --padding-right: 16px;

    --padding-arrow: 10px;

    --padding-title: 4.5px var(--padding-left);

    --font-size-title: 1.125rem
}

.cardWrapper {
    display: grid;
    grid-template-rows: 1fr;
    position: relative;

}


.overlay {
    z-index: 1;
}

.cardTexts {
    display: grid;
    grid-template-rows: var(--padding-top) auto minmax(12rem, 1fr) auto var(--padding-bottom);
    grid-template-columns: 1fr auto var(--padding-right);
    grid-template-areas:
        '  .        .         .'
        'title      .         .'
        '  .        .         .'
        '  .    savoirPlus    .'
        '  .        .         .';


    .title {
        grid-area: title;

        overflow-x: hidden;
        text-wrap: nowrap;
        text-overflow: ellipsis;

        font-size: var(--font-size-title);
        font-weight: var(--font-weight-semi-bold);

        padding: var(--padding-title);

        background-color: var(--color-primary);

        border-top-right-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
    }

    .savoirPlus {
        grid-area: savoirPlus;

        background-color: var(--color-primary);

        border-radius: var(--border-radius);

        align-content: center;

        padding: var(--padding-arrow);
    }

}

.cardImage {
    object-fit: cover;
    overflow: hidden;
    border-radius: var(--border-radius);
}

.onHoverOnly {
    display: none;
}


@media screen and (min-width: 90rem) {

    .localVariables {
        --border-radius: 1.25rem;

        --padding-top: 80px;
        --padding-bottom: 30px;
        --padding-left: 20px;
        --padding-right: 25px;

        --padding-arrow: 26px 40px;

        --padding-title: 22px var(--padding-left);

        --font-size-title: 1.75rem;

    }

    .cardWrapper {
        &:hover {
            .cardTexts {
                grid-template-columns: var(--padding-left) 1fr minmax(0, 0.25fr) var(--padding-right);
                grid-template-areas:
                    '  .        .               .        .'
                    'title    title             .        .'
                    '  .        .               .        .'
                    '  .     savoirPlus    savoirPlus    .'
                    '  .        .               .        .';

                .savoirPlus {
                    display: flex;
                    justify-content: space-between;

                    font-size: 1.5rem;
                    font-weight: var(--font-weight-medium);

                    background-color: var(--color-accent);
                }

                .onHoverOnly {
                    display: unset;
                }


            }

            .cardImage {
                filter: unset;
            }
        }

        .cardImage {
            filter: grayscale(1);
        }
    }

}