.localVariables {
    --gap: 2rem;
}

.mobileContainer {
    display: grid;
    gap: var(--gap);
    grid-auto-rows: min-content;
    grid-template-areas:
        'totalItems totalItems'
        'filters itemsPerPage'
        'projectList projectList'
        'pagination pagination';

    .totalItems {
        grid-area: totalItems;
    }

    .filters {
        grid-area: filters;
        justify-self: start;
    }

    .itemsPerPage {
        grid-area: itemsPerPage;
        justify-self: end;
    }

    .projectList {
        grid-area: projectList;
    }

    .pagination {
        grid-area: pagination;
        justify-self: end;
        align-self: start;
        white-space: nowrap;
    }
}

.popupSeparator {
    height: 1px;
    background: var(--color-secondary);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.popupItems {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 90rem) {
    .desktopContainer {
        display: grid;
        gap: var(--gap);
        grid-auto-rows: min-content;
        grid-template-columns: 1fr repeat(3, 1fr);
        grid-template-areas:
            '. totalItems articleTypeFilter itemsPerPage'
            'motFiltersContainer projectList projectList projectList'
            'motFiltersContainer pagination pagination pagination';

        .totalItems {
            grid-area: totalItems;
        }

        .articleTypeFilter {
            justify-self: center;
            grid-area: articleTypeFilter;
            display: flex;
            column-gap: var(--gap);
        }

        .itemsPerPage {
            grid-area: itemsPerPage;
            justify-self: end;
            align-self: end;
        }

        .motFiltersContainer {
            grid-area: motFiltersContainer;
        }

        .projectList {
            grid-area: projectList;
        }

        .pagination {
            grid-area: pagination;
            justify-self: end;
            align-self: start;
        }

        .politiquesPubliquesFilter {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: var(--gap);
        }
    }
}
