.button {
    font: inherit;
    border: var(--button-border-width) solid transparent;

    padding: var(--button-top-bottom-padding) var(--button-left-right-padding);

    border-radius: var(--button-border-radius);

    font-size: var(--button-font-size);

    &:hover {
        background-color: var(--accent-color);
    }
    &:active {
        background-color: var(--accent-color);
    }
}
.button[data-popup-open] {
    background-color: var(--accent-color);
    border-color: var(--secondary-color);
}

.ghost {
    background: transparent;
    color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.text {
    background: transparent;
    color: var(--secondary-color);
}

.filled {
    background: var(--secondary-color);
    color: var(--primary-color);

    & > img {
        filter: var(--svg-filter-black-to-white);
    }

    &:hover > img,
    &:active > img {
        filter: none;
    }
}

.filled[data-popup-open] > img {
    filter: none;
}
