.presentationContainer {
    display: grid;
    gap: var(--gap-inside-section);

    grid-template-columns: 1fr;
    grid-template-areas:
        'logo'
        'title'
        'description';

    & .logo {
        grid-area: logo;
    }
    & .title {
        grid-area: title;
    }
    & .description {
        grid-area: description;

        font-size: var(--font-size-section-description);
        line-height: var(--line-height-section-description);
        font-weight: var(--font-weight-section-description);
    }
}

.articleContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'title'
        'content'
        'images';

    gap: var(--gap-inside-section);

    .title {
        grid-area: title;
    }

    .content {
        grid-area: content;
    }

    .images {
        grid-area: images;
    }
}

@media screen and (min-width: 80rem) {
    .presentationContainer {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            '. logo'
            'title logo'
            'description logo'
            '. logo';
    }

    .articleContainer {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            'title      title'
            'content    images';

        &.imagesOnTheLeft {
            grid-template-areas:
                'title      title'
                'images    content';
        }
    }
}
