.maskContainer {
  place-content: center;
  position: relative;
  width: 100%;
  height: 100%;

  padding: 0;
  overflow: hidden;
}

.maskProperties {
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}

.backgroundImage {
  position: inherit;
  width: 100%;
  height: 100%;
  object-fit: cover;
}