.localVariables {
    --padding-top-bottom: 0.625rem;
    --padding-left-right: 0.625rem;

    --panel-padding: 1.25rem 1.25rem 3.125rem 1.25rem;
    --panel-border-radius: 15px;
    --panel-row-gap: 1.875rem;
}

.accordion {
    & * {
        font: inherit;
    }

    & .item {
        width: 100%;
        border-top: 1px solid var(--color-secondary);

        align-content: center;

        &:last-child {
            border-bottom: 1px solid var(--color-secondary);
        }

        &[data-panel-open] {
            & .title {
                font-weight: var(--font-weight-bold);
            }
        }
    }

    & .trigger {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;

        padding: var(--padding-top-bottom) var(--padding-left-right);

        background: transparent;

        width: 100%;

        border: none;

        & .title {
            text-align: start;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &[data-panel-open] {
            background: var(--color-primary);

            border-bottom: 1px solid var(--color-secondary);

            & .title {
                font-weight: var(--font-weight-bold);
            }
        }
    }

    & .panel {
        display: grid;

        row-gap: 50px;

        background: var(--color-primary);

        border: 1px solid var(--color-secondary);
        border-radius: var(--panel-border-radius);

        padding: var(--panel-padding);
    }
}

.conditionalDisplay {
    display: none;
}

@media screen and (min-width: 80rem) {
    .localVariables {
        --padding-top-bottom: 1rem;

        --panel-padding: 2.5rem 5rem 5rem 5rem;
        --panel-border-radius: 30px;
        --panel-row-gap: 1.875rem;
    }

    .accordion {
        & .trigger {
            grid-template-columns: 1.2fr auto;
            column-gap: 30px;

            & .desktopFields {
                display: grid;
                grid-template-columns: auto;
                align-items: center;
            }

            &:hover {
                & .title {
                    font-weight: var(--font-weight-bold);
                }

                background: var(--color-primary);

                .arrow {
                    filter: drop-shadow(-3px 0 var(--color-accent));
                }
            }

            &[data-panel-open] {
                & .arrow {
                    transform: rotate(90deg);
                    filter: drop-shadow(-3px 0 var(--color-accent));
                }
            }
        }
    }

    .conditionalDisplay {
        display: unset;
    }
}
