.localVariables {
    --row-gap-sections: 2.5rem;
    --margin-bottom-section-title: 1.25rem;
}

.mainContainer {
    display: grid;
    row-gap: var(--row-gap-sections);

    .sectionTitle {
        margin-bottom: var(--margin-bottom-section-title);
    }
}

@media screen and (min-width: 80rem) {
    .localVariables {
        --row-gap-sections: 3.125rem;
    }

    .searchInput {
        justify-self: center;
    }
}
