.mainContainer {
    display: grid;
    row-gap: var(--gap-section);

    grid-template-areas:
        'logo'
        'description'
        'team'
        'partners';

    .logo {
        grid-area: logo;
    }

    .description {
        grid-area: description;
    }

    .team {
        grid-area: team;
    }

    .parterns {
        grid-area: parterns;
    }
}
