.localVariables {
    --gap-section: 2.625rem;
    --gap-inside-section: 24px;
}

.mainContainer {
    display: grid;
    row-gap: var(--gap-section);

    grid-template-areas:
        'logo'
        'description'
        'team'
        'partners';

    .logo {
        grid-area: logo;
    }

    .description {
        grid-area: description;
    }

    .team {
        grid-area: team;
    }

    .parterns {
        grid-area: parterns;
    }
}

.sectionContainer {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--gap-inside-section);
}

.tagsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

.linkStyle {
    text-decoration: underline;
    
    &:hover {
        background: var(--color-accent);
    }
}

@media screen and (min-width: 90rem) {
    .localVariables {
        --gap-section: 6.25rem;
        --gap-inside-section: 60px;
    }

    .sectionContainer {
        display: grid;
        grid-template-columns: 2fr 5fr;
    }
}
