.bodyWrapper {
    min-height: 100vh; /* fallback */
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.contentContainer {
    padding-left: var(--padding-sides-main);
    padding-right: var(--padding-sides-main);

    margin-top: var(--margin-top-main);
    margin-bottom: var(--margin-bottom-main);

    isolation: isolate;
}
