.localVariables {
    --gap-section: 2.625rem;
    --gap-inside-section: 24px;
}

.mainContainer {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: var(--gap-section);
}

.presentationContainer {
    display: grid;
    gap: var(--gap-inside-section);

    & > .presentationTextContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: var(--gap-inside-section);
    }
}

.currentTopicsContainer {
    display: grid;
    gap: var(--gap-inside-section);

    margin-top: calc(var(--gap-section) * -0.5);

    & > h2 {
        text-align: end;
    }
}

.cardsContainer {
    display: grid;
    gap: var(--gap-inside-section);
}

.spotlightCardsContainer {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    scrollbar-width: none;
    margin-left: calc(var(--padding-sides-main) * -1);
    margin-right: calc(var(--padding-sides-main) * -1);

    & > :first-child {
        margin-left: var(--padding-sides-main);
    }
    & > :last-child {
        margin-right: var(--padding-sides-main);
    }
}

.cardSizing {
    min-width: 19.5rem;
    flex: 1;
    /* TODO: make width with clamp ? */
}

.archivesContainer {
    align-self: center;
    display: grid;
    grid-template-columns: auto 24px 1fr;
    grid-template-areas:
        'button intersection card'
        'title intersection card';

    > .title {
        grid-area: title;
        writing-mode: sideways-lr;
        align-content: center;
    }
    > .button {
        grid-area: button-start / button-start / intersection-start / intersection-end;

        :hover {
            color: var(--color-accent);
        }
    }
    > .card {
        grid-area: intersection-start / intersection-start / card-end / card-end;
    }

    .loadIcon {
        height: 67px;
        width: auto;
        color: var(--color-primary);
    }
}

.programsContainer {
    display: grid;
    row-gap: var(--gap-inside-section);
}

.imageCardsContainer {
    display: flex;
    column-gap: 10px;

    overflow-x: scroll;
    scrollbar-width: none;

    margin-left: calc(var(--padding-sides-main) * -1);
    margin-right: calc(var(--padding-sides-main) * -1);

    & > :first-child {
        margin-left: var(--padding-sides-main);
    }
    & > :last-child {
        margin-right: var(--padding-sides-main);
    }

    & > .imageCard {
        flex: 1;

        min-width: 19.5rem;
        min-height: 28rem;

        transition: flex-grow 0.2s ease;
    }
}

.servicesContainer {
    display: grid;
    gap: var(--gap-inside-section);

    background: var(--color-primary);

    margin-left: calc(var(--padding-sides-main) * -1);
    margin-right: calc(var(--padding-sides-main) * -1);
    padding: var(--gap-inside-section) var(--padding-sides-main);

    .tagIconWrapper {
        display: grid;
        grid-template-areas: 'tagsContainer';

        .tagsContainer {
            grid-area: tagsContainer;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: var(--gap-inside-section);

            margin-bottom: var(--gap-inside-section);
        }
    }
}

.missionContainer {
    display: grid;
    row-gap: var(--gap-inside-section);

    & > p {
        line-height: 1.5;
        letter-spacing: 0.05rem;
        font-weight: var(--font-weight-medium);
    }
}

.desktopDisplayOnly {
    display: none;
}

@media screen and (min-width: 90rem) {
    .presentationContainer {
        display: grid;
        grid-template-columns: 1fr 2fr;

        & .presentationImage {
            grid-column: 2;
            grid-row: 1;
            min-height: 700px;
        }
    }

    .imageCardsContainer > .imageCard:hover {
        flex-grow: 2;
        transition: flex-grow 0.2s ease;
    }

    .cardsContainer {
        grid-auto-flow: column;
        grid-auto-columns: 2fr 1fr;
    }

    .spotlightCardsContainer {
        margin: 0;

        display: grid;
        grid-template-areas:
            '1st-most-recent 2nd-most-recent'
            '3rd-most-recent 4th-most-recent';

        & > .cardSizing {
            margin: 0;
        }
    }

    .archivesContainer {
        grid-template-columns: unset;
        grid-template-rows: auto auto 24px auto;
        grid-template-areas:
            'title'
            'card'
            'intersection'
            'button';

        > .title {
            grid-area: title;
            writing-mode: unset;
            justify-self: center;
            margin-bottom: var(--gap-inside-section);
        }
        > .card {
            grid-area: card-start / card-start / intersection-end / intersection-end;
        }
        > .button {
            grid-area: intersection-start / intersection-start / button-end / button-end;
        }

        .loadIcon {
            height: 150px;
        }
    }

    .currentTopicsContainer > h2 {
        text-align: start;
    }

    .servicesContainer {
        .tagIconWrapper {
            grid-template-columns: auto 1fr auto;
            grid-template-areas: 'first-icon tagsContainer second-icon';

            .tagsContainer {
                grid-area: tagsContainer;
            }

            .firstIcon {
                grid-area: first-icon;
            }

            .secondIcon {
                grid-area: second-icon;
            }
        }
    }

    .desktopDisplayOnly {
        display: unset;
    }
}
