.localVariables {
    --section-gap: 42px;
    --inside-section-gap: 24px;
}

.mainContainer {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: var(--section-gap);
    margin-bottom: var(--section-gap);
}

.presentationContainer {
    display: grid;
    gap: var(--inside-section-gap);

    & > .presentationTextContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: calc(var(--inside-section-gap) / 2);
    }
}

.currentTopicsContainer {
    display: grid;
    gap: var(--inside-section-gap);

    margin-top: calc(var(--section-gap) * -0.5);

    & > h2 {
        text-align: end;
    }
}

.cardsContainer {
    display: grid;
    gap: var(--inside-section-gap);
}

.spotlightCardsContainer {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    scrollbar-width: none;
    margin-left: calc(var(--main-padding) * -1);
    margin-right: calc(var(--main-padding) * -1);

    & > :first-child {
        margin-left: var(--main-padding);
    }
    & > :last-child {
        margin-right: var(--main-padding);
    }
}

.card {
    min-width: 19.5rem;
    flex: 1;
    /* TODO: make width with clamp ? */
}

.archivesContainer {
    align-self: center;
}

.programsContainer {
    display: grid;
    row-gap: var(--inside-section-gap);
}

.imageCardsContainer {
    display: flex;
    column-gap: 10px;

    overflow-x: scroll;
    scrollbar-width: none;

    margin-left: calc(var(--main-padding) * -1);
    margin-right: calc(var(--main-padding) * -1);

    & > :first-child {
        margin-left: var(--main-padding);
    }
    & > :last-child {
        margin-right: var(--main-padding);
    }

    & > .imageCard {
        flex: 1;

        min-width: 19.5rem;
        min-height: 28rem;

        transition: flex-grow 0.2s ease;
    }
}

.servicesContainer {
    display: grid;
    gap: var(--inside-section-gap);

    background: var(--primary-color);

    margin-left: calc(var(--main-padding) * -1);
    margin-right: calc(var(--main-padding) * -1);
    padding: var(--inside-section-gap) var(--main-padding);

    & > .tagsContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: var(--inside-section-gap);

        margin-bottom: var(--inside-section-gap);
    }
}

.missionContainer {
    display: grid;
    row-gap: var(--inside-section-gap);

    & > p {
        line-height: 1.5;
        letter-spacing: 0.05rem;
        font-weight: var(--medium-font-weight);
    }
}

@media screen and (min-width: 90rem) {
    .presentationContainer {
        display: grid;
        grid-template-columns: 1fr 2fr;

        & .presentationImage {
            grid-column: 2;
            grid-row: 1;
        }
    }

    .imageCardsContainer > .imageCard:hover {
        flex-grow: 2;
        transition: flex-grow 0.2s ease;
    }

    .cardsContainer {
        grid-auto-flow: column;
        grid-auto-columns: 2fr 1fr;
    }

    .spotlightCardsContainer {
        margin: 0;

        display: grid;
        grid-template-areas:
            '1st-most-recent 2nd-most-recent'
            '3rd-most-recent 4th-most-recent';

        & > .card {
            margin: 0;
        }
    }

    .currentTopicsContainer > h2 {
        text-align: start;
    }
}
