.localVariables {
    --gap-section: 2.625rem;
    --gap-inside-section: 24px;
}

.mainContainer {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: var(--gap-section);
}

.presentationContainer {
    display: grid;
    gap: var(--gap-inside-section);

    grid-template-columns: auto 1fr;
    grid-template-areas:
        'logo logo'
        'title title'
        'tag date'
        'tag authors';

    & .logo {
        grid-area: logo;
    }
    & .title {
        grid-area: title;
    }
    & .tag {
        grid-area: tag;
        align-self: center;
    }
    & .date {
        grid-area: date;
    }
    & .authors {
        grid-area: authors;
        display: flex;
        flex-wrap: wrap;
        column-gap: 8px;
    }
}

.toTopButton {
    align-self: center;
    justify-self: center;
}

.linkStyle {
    text-decoration: underline;

    &:hover {
        background: var(--color-accent);
    }
}

@media screen and (min-width: 80rem) {
    .localVariables {
        --gap-section: 6.25rem;
        --gap-inside-section: 60px;
    }
    .presentationContainer {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            '. logo'
            'title logo'
            'tag logo'
            'date logo'
            'authors logo'
            '. logo';
    }

    .contentContainer {
        padding-left: 14.375rem;
        padding-right: 14.375rem;
    }
}
