.localVariables {
    --gap-section: 2.625rem;
    --gap-inside-section: 24px;
}

.mainContainer {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: var(--gap-section);

    margin-bottom: var(--gap-section);
}

.presentationContainer {
    display: grid;
    gap: var(--gap-inside-section);

    grid-template-columns: 1fr;
    grid-template-areas:
        'logo'
        'title'
        'description';

    & .logo {
        grid-area: logo;
    }
    & .title {
        grid-area: title;
    }
    & .description {
        grid-area: description;
    }
}

@media screen and (min-width: 90rem) {
    .presentationContainer {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            '. logo'
            'title logo'
            'description logo'
            '. logo';
    }
}
