.localVariables {
    --padding-top-bottom: 0.625rem;
}

.mainContainer {
    & .item {
        width: 100%;
        border-top: 1px solid var(--color-secondary);

        align-content: center;

        display: grid;
        grid-template-columns: 1fr;
        align-items: center;

        padding: var(--padding-top-bottom) 0;

        background: transparent;

        & .title {
            text-align: start;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.conditionalDisplay {
    display: none;
}

@media screen and (min-width: 90rem) {
    .localVariables {
        --padding-top-bottom: 2rem;
    }

    .mainContainer {
        & .item {
            grid-template-columns: 1.2fr 1fr;
            column-gap: 30px;

            & .desktopFields {
                display: grid;
                grid-template-columns: 1fr 1fr auto;
                align-items: center;

                column-gap: 30px;
            }

            &:hover {
                background: var(--color-primary);
                font-weight: var(--font-weight-bold);

                & .tag {
                    background: var(--color-accent);
                }
            }
        }
    }

    .conditionalDisplay {
        display: unset;
    }
}
