.mainContainer {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: var(--gap-section);
}

.toTopButton {
    align-self: center;
    justify-self: center;
}

@media screen and (min-width: 80rem) {
    .contentContainer {
        padding-left: 14.375rem;
        padding-right: 14.375rem;
    }
}
