.localVariables {
    --gap-default: 0.75rem;
    --height-logo-erasme: 2.4rem;
    --height-logo-metropole-lyon: 4.1875rem;
}

.conditionalDisplay {
    display: none;
}

.mainFlexContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    padding: 3rem var(--padding-sides-main) 1.5rem var(--padding-sides-main);

    color: var(--white);
    background-color: var(--black);
}

.mainFlexContainer img {
    filter: var(--svg-filter-black-to-white);
}

.leftSideFlexContainer {
    display: flex;
    flex-direction: column;
    row-gap: var(--gap-default);
    align-self: end;
}

.footerLink:hover,
.isActivePage {
    color: var(--color-accent);
}

.rightSideFlexContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.logoFlexContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: calc(2 * var(--gap-default));
    margin-bottom: calc(2 * var(--gap-default));
}

.logoFlexContainer img {
    width: auto;
    filter: var(--svg-filter-black-to-white);
}

.erasmeLogo {
    height: var(--height-logo-erasme);
}

.metropoleLyonLogo {
    height: var(--height-logo-metropole-lyon);
}

.socialMediaFlexContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: var(--gap-default);
}

.socialMediaFlexContainer img {
    --socialMediaIconSize: 2.5rem;

    width: var(--socialMediaIconSize);
    height: var(--socialMediaIconSize);
}

.socialMediaFlexContainer img:hover {
    filter: var(--svg-filter-black-to-tonic);
}

.copyrights {
    align-self: flex-end;
    font-size: 0.875rem;
}

@media screen and (min-width: 90rem) {
    .localVariables {
        --gap-default: 1.875rem;
        --height-logo-erasme: 3.5rem;
        --height-logo-metropole-lyon: 5.625rem;
    }

    .mainFlexContainer {
        padding: 5.625rem var(--padding-sides-main) 1.5rem var(--padding-sides-main);
    }

    .conditionalDisplay {
        display: inline-block;
        width: 18.75rem;
        height: auto;
    }

    .leftSideFlexContainer {
        align-self: center;
    }

    .socialMediaFlexContainer img {
        --socialMediaIconSize: 3.125rem;
    }

    .copyrights {
        font-size: 0.875rem;
    }
}
