.localVariables {
    --gap-inside-section: 0.75rem;
    --gap-section: 2rem;
    --height-logo-erasme: 2.4rem;
    --height-logo-metropole-lyon: 4.1875rem;
    --padding: 3rem var(--padding-sides-main);

    --height-social-media-icon: 2.5rem;
}

.conditionalDisplay {
    display: none;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    place-content: center;
    gap: var(--gap-section);

    padding: var(--padding);

    color: var(--color-primary);
    background-color: var(--color-secondary);

    & img {
        filter: var(--svg-filter-black-to-white);
    }
}

.secondaryContainer {
    display: flex;
    flex-direction: column;
    row-gap: var(--gap-inside-section);

    &.internalLinks {
        align-items: center;
    }

    &.externalLinks {
        align-items: center;
    }
}

.footerLink:hover,
.isActivePage {
    color: var(--color-accent);
}

.logosContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: var(--gap-section);
    margin-bottom: var(--gap-inside-section);

    & img {
        width: auto;
        filter: var(--svg-filter-black-to-white);
    }

    .erasmeLogo {
        height: var(--height-logo-erasme);
    }

    .metropoleLyonLogo {
        height: var(--height-logo-metropole-lyon);
    }
}

.socialMediaContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    gap: var(--gap-inside-section);
    /* margin-bottom: var(--gap-inside-section); */

    & img {
        height: var(--height-social-media-icon);
        width: var(--height-social-media-icon);

        &:hover {
            filter: var(--svg-filter-black-to-tonic);
        }
    }
}

.copyrights {
    font-size: 0.875rem;
}

@media screen and (min-width: 80rem) {
    .localVariables {
        --gap-inside-section: 1.875rem;
        --gap-section: 3.75rem;
        --height-logo-erasme: 3.5rem;
        --height-logo-metropole-lyon: 5.625rem;

        --padding: 5.625rem var(--padding-sides-main);

        --height-social-media-icon: 3.125rem;
    }

    .mainContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }

    .conditionalDisplay {
        display: inline-block;
        width: 18.75rem;
        height: auto;
    }

    .secondaryContainer {
        &.internalLinks {
            align-items: start;
            align-self: center;
        }

        &.externalLinks {
            align-items: end;
        }
    }
}
