.remoteHtml {
    &div {
        font-size: var(--font-size-default-body);
        line-height: var(--line-height-default-body);
        font-weight: var(--font-weight-default-body);
    }

    iframe,
    img {
        max-width: 100%;
    }

    figure,
    iframe {
        display: flex;
        justify-self: center;
    }

    a {
        cursor: pointer;

        &:not(figure a) {
            text-decoration: underline;
            &:hover {
                background: var(--color-accent);
            }
        }
    }

    pre,
    code {
        white-space: pre-wrap;
        word-break: break-word;
    }
}
