.remoteHtml {
    &div {
        font-size: var(--font-size-default-body);
        line-height: var(--line-height-default-body);
        font-weight: var(--font-weight-default-body);
    }

    iframe,
    img {
        max-width: 100%;
    }

    figure,
    iframe {
        display: flex;
        justify-self: center;
    }

    a {
        text-decoration: underline;
        cursor: pointer;
    }

    pre,
    code {
        white-space: pre-wrap;
        word-break: break-word;
    }
}
