.remoteHtml {
    & * {
        font-family: inherit;
        line-height: inherit;
    }

    iframe,
    img {
        max-width: 100%;
    }

    figure,
    iframe {
        display: flex;
        justify-self: center;
    }

    a {
        text-decoration: underline;
        cursor: pointer;
    }
}
