.localVariables {
    --gap-section: 42px;
    --gap-inside-section: 24px;
}

.mainContainer {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: var(--gap-section);

    margin-bottom: var(--gap-section);
}

.presentationContainer {
    display: grid;
    gap: var(--gap-inside-section);

    & > .presentationTextContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: calc(var(--gap-inside-section) / 2);
    }
}



@media screen and (min-width: 90rem) {
    .presentationContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;

        & .presentationImage {
            grid-column: 2;
            grid-row: 1;
        }
    }
}