.localVariables {
    --border-width-common: 2px;
    --border-common: var(--border-width-common) solid var(--black);
    --border-radius: 0.5rem;

    --navbar-padding-top-bottom: 0.3125rem;
    --navbar-padding-left-right: 1rem;
    --navbar-padding: var(--navbar-padding-top-bottom) var(--navbar-padding-left-right);

    --height-logo-erasme: 1.5rem;

    --button-icon-size: 1.25rem;

    --overlay-padding: var(--padding-sides-main);
}

.zIndex {
    z-index: 100;
}

.mainContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: var(--white);

    border-bottom: var(--border-common);
    border-radius: var(--border-radius);

    padding: var(--navbar-padding);
}

.overlayContainer {
    background: var(--color-primary);

    border: var(--border-common);
    border-radius: var(--border-radius);

    padding: var(--overlay-padding);

    max-height: 80vh; /* fallback */
    max-height: 80dvh;
    width: var(--available-width);

    overflow-y: scroll;
    scrollbar-width: none;

    transition: all 0.2s ease-in-out;
    &[data-starting-style] {
        opacity: 0;
    }
    &[data-ending-style] {
        opacity: 0;
    }
}

.positioning {
    position: sticky;
    top: 0;
}

.erasmeLogo {
    height: var(--height-logo-erasme);
    width: auto;
}

.bigScreenContainer {
    display: none;
}

.bigScreenContainer img,
.smallScreenContainer img {
    width: auto;
    height: var(--button-icon-size);
}

.smallScreenContainer {
    display: flex;
    gap: 0.25rem;

    & > button,
    & > a {
        min-height: 2.75rem;
        min-width: 2.75rem;
        padding: 0;
        border-radius: 0.5rem;
    }
}

.searchMenuContainer {
    display: grid;
    grid-template-areas:
        '. closeButton'
        'searchInput searchInput'
        'searchFilter searchButton'
        'searchResults searchResults';

    & .closeButton {
        grid-area: closeButton;
        justify-self: end;
    }

    & .searchInput {
        grid-area: searchInput;
        margin-bottom: 1.875rem;
    }

    & .searchButton {
        grid-area: searchButton;
        justify-self: end;
    }

    & .searchFilter {
        grid-area: searchFilter;
        justify-self: start;
    }

    & .searchResults {
        grid-area: searchResults;
        margin-top: 2.5rem;
    }
}

.burgerMenuContainer {
    display: flex;
    flex-direction: column;

    & :first-child {
        align-self: flex-end;
    }
}

.isActivePage {
    background-color: var(--color-accent);
    border-color: var(--color-secondary);
}

@media screen and (min-width: 80rem) {
    .localVariables {
        --border-radius: 1.875rem;
        --navbar-padding-top-bottom: 1.5rem;
        --navbar-padding-left-right: 1.5rem;

        --margin-top: 1.5rem;
        --margin: var(--margin-top) var(--padding-sides-main) 0 var(--padding-sides-main);

        --height-logo-erasme: 3.1875rem;
        --button-icon-size: 1.3rem;

        --overlay-padding: 2.5rem 4.375rem;
    }

    .smallScreenContainer {
        display: none;
    }

    .mainContainer {
        border: var(--border-common);
        margin: var(--margin);
    }

    .overlayContainer {
        width: auto;
        min-width: var(--anchor-width);
    }

    .verticalOffset {
        margin-top: var(--navbar-padding-top-bottom);
    }

    .bigScreenContainer {
        display: flex;
        gap: 3.125rem;

        .searchMenuContainer {
            display: grid;
            grid-template-areas: 'searchFilter searchInput searchButton closeButton';
            column-gap: 0.625rem;

            & .closeButton {
                justify-self: unset;
            }

            & .searchInput {
                margin-bottom: unset;
                width: clamp(24rem, 30vw, 31.25rem);
            }

            & .searchButton {
                justify-self: unset;
            }

            & .searchFilter {
                justify-self: unset;
            }
        }

        & .mainNavigationContainer {
            display: flex;
            column-gap: 0.625rem;
            align-self: center;
        }
    }

    .desktopSearchResultsContainer {
        max-width: var(--anchor-width);
        margin-top: unset;
        background: var(--color-background);
    }
}
