.button {
    font: inherit;
    border: var(--button-border-width) solid transparent;

    padding: var(--button-top-bottom-padding) var(--button-left-right-padding);

    border-radius: var(--button-border-radius);

    font-size: var(--button-font-size);

    &:active {
        background-color: var(--color-accent);
    }
}
.button[data-popup-open],
.button[data-selected] {
    background-color: var(--color-accent);
    border-color: var(--color-secondary);
}

.ghost {
    background: transparent;
    color: var(--color-secondary);
    border-color: var(--color-secondary);
}

.text {
    background: transparent;
    color: var(--color-secondary);
}

.filled {
    background: var(--color-secondary);
    color: var(--color-primary);

    & > img {
        filter: var(--svg-filter-black-to-white);
    }

    &:hover {
        color: var(--color-secondary);
        border-color: var(--color-secondary);
    }

    &:hover > img,
    &:active > img {
        filter: none;
    }
}

.filled[data-popup-open] > img {
    filter: none;
}

.filter {
    background: var(--color-primary);
    color: var(--color-secondary);
}

/* Only for devices that can hover (not mobile)  */
@media (hover: hover) {
    .button:hover {
        background-color: var(--color-accent);
    }
}
