.tag {
    background: transparent;

    width: fit-content;

    font: inherit;
    font-size: var(--button-font-size);
    text-transform: lowercase;
    color: var(--color-secondary);

    border: var(--button-border-width) solid transparent;
    border-color: var(--color-secondary);
    border-radius: var(--button-border-radius);
}

.small {
    padding: 0.625rem 1.25rem;
}

.default {
    padding: var(--button-top-bottom-padding) var(--button-left-right-padding);
}
